In [1]:
import pandas as pd
from openpyxl import Workbook
from openpyxl import load_workbook
from openpyxl.styles import Font, Color, PatternFill
import os

# Caminhos dos arquivos CSV

In [ ]:
original_path = "/media/jczars/4C22F02A22F01B22/Pollen-Classification-CBAM/results/phase1/AT_densenet+cbam_exp/5_DenseNet201_reports_consolidated/class_report_test_5_DenseNet201.csv"
equatorial_path = "/media/jczars/4C22F02A22F01B22/Pollen-Classification-CBAM/results/phase3/CPD1_TEST_A200/5_DenseNet201_EQUATORIAL_consolidated/class_report_test_5_DenseNet201.csv"
polar_path = "/media/jczars/4C22F02A22F01B22/Pollen-Classification-CBAM/results/phase3/CPD1_TEST_A200/5_DenseNet201_POLAR_consolidated/class_report_test_5_DenseNet201.csv"

# Read csv

In [3]:
original_df = pd.read_csv(original_path, sep=";", decimal=",")
original_df

    Unnamed: 0     Classes  Accuracy  Precision  Recall  F1-Score  Support
0            0  asphodelus     0.971      1.000   0.971     0.985       34
1            1  calicotome     0.977      0.990   0.977     0.983      298
2            2    castanea     0.995      0.986   0.995     0.990      218
3            3   ceratonia     0.950      0.913   0.950     0.931      100
4            4      ebenus     0.955      1.000   0.955     0.977       22
5            5       erica     1.000      0.984   1.000     0.992      181
6            6  eucalyptus     0.979      0.988   0.979     0.983      340
7            7      ferula     1.000      0.976   1.000     0.988       83
8            8      myrtus     1.000      0.996   1.000     0.998      786
9            9        olea     0.995      0.991   0.995     0.993      790
10          10    origanum     0.965      0.988   0.965     0.976      171
11          11      oxalis     1.000      1.000   1.000     1.000      139
12          12       pinus     1.000      1.000   1.000     1.000       29
13          13    pistacia     1.000      1.000   1.000     1.000       34
14          14      salvia     0.989      1.000   0.989     0.994      178
15          15    satureja     0.958      0.971   0.958     0.964       71
16          16     sinapis     0.970      0.979   0.970     0.974      197
17          17     thymbra     0.993      0.993   0.993     0.993      146
18          18     urginea     1.000      1.000   1.000     1.000      109
19          19       vitis     0.985      0.981   0.985     0.983      269

In [4]:
equatorial_df = pd.read_csv(equatorial_path, sep=";", decimal=",")
equatorial_df

    Unnamed: 0     Classes  Accuracy  Precision  Recall  F1-Score  Support
0            0  asphodelus     1.000      1.000   1.000     1.000      5.0
1            1  calicotome     0.545      1.000   0.545     0.706     11.0
2            2    castanea     0.995      0.986   0.995     0.990    218.0
3            3   ceratonia     0.958      0.920   0.958     0.939     96.0
4            4      ebenus     0.955      1.000   0.955     0.977     22.0
5            5       erica     1.000      1.000   1.000     1.000      2.0
6            6  eucalyptus     1.000      0.818   1.000     0.900      9.0
7            7      ferula     1.000      0.971   1.000     0.985     67.0
8            8      myrtus     1.000      0.667   1.000     0.800      2.0
9            9        olea     0.996      0.991   0.996     0.993    767.0
10          10    origanum     0.944      0.990   0.944     0.966    108.0
11          11      oxalis     1.000      1.000   1.000     1.000     14.0
12          12       pinus     0.000      0.000   0.000     0.000      0.0
13          13    pistacia     1.000      1.000   1.000     1.000     33.0
14          14      salvia     0.981      1.000   0.981     0.990    104.0
15          15    satureja     0.950      0.974   0.950     0.962     40.0
16          16     sinapis     0.969      0.979   0.969     0.974    196.0
17          17     thymbra     1.000      0.984   1.000     0.992     62.0
18          18     urginea     1.000      1.000   1.000     1.000    109.0
19          19       vitis     0.984      0.984   0.984     0.984    248.0

In [5]:
polar_df = pd.read_csv(polar_path, sep=";", decimal=",")
polar_df

    Unnamed: 0     Classes  Accuracy  Precision  Recall  F1-Score  Support
0            0  asphodelus     0.966      1.000   0.966     0.983     29.0
1            1  calicotome     0.993      0.990   0.993     0.991    287.0
2            2    castanea     0.000      0.000   0.000     0.000      0.0
3            3   ceratonia     0.750      0.750   0.750     0.750      4.0
4            4      ebenus     0.000      0.000   0.000     0.000      0.0
5            5       erica     1.000      0.984   1.000     0.992    179.0
6            6  eucalyptus     0.979      0.994   0.979     0.986    331.0
7            7      ferula     1.000      1.000   1.000     1.000     16.0
8            8      myrtus     1.000      0.997   1.000     0.998    784.0
9            9        olea     0.957      1.000   0.957     0.978     23.0
10          10    origanum     1.000      0.984   1.000     0.992     63.0
11          11      oxalis     1.000      1.000   1.000     1.000    125.0
12          12       pinus     1.000      1.000   1.000     1.000     29.0
13          13    pistacia     1.000      1.000   1.000     1.000      1.0
14          14      salvia     1.000      1.000   1.000     1.000     74.0
15          15    satureja     0.968      0.968   0.968     0.968     31.0
16          16     sinapis     1.000      1.000   1.000     1.000      1.0
17          17     thymbra     0.988      1.000   0.988     0.994     84.0
18          18     urginea     0.000      0.000   0.000     0.000      0.0
19          19       vitis     1.000      0.955   1.000     0.977     21.0

# Diretório de saída

In [6]:
output_dir = "/media/jczars/4C22F02A22F01B22/Pollen-Classification-CBAM/discussion"

# criar a planilha

In [7]:
# Criar um arquivo Excel vazio com uma aba padrão
excel_path = os.path.join(output_dir, "Comparison_Metrics_A200.xlsx")
workbook = Workbook()
workbook.save(excel_path)
print(f"Arquivo Excel criado com sucesso: {excel_path}")

Arquivo Excel criado com sucesso: /media/jczars/4C22F02A22F01B22/Pollen-Classification-CBAM/discussion/Comparison_Metrics_A200.xlsx

# comparisson

In [8]:
# Preencher a planilha com as comparações
with pd.ExcelWriter(excel_path, engine="openpyxl", mode="a", if_sheet_exists="replace") as writer:
    original_df.to_excel(writer, sheet_name="Original", index=False)
    equatorial_df.to_excel(writer, sheet_name="Equatorial", index=False)
    polar_df.to_excel(writer, sheet_name="Polar", index=False)

In [9]:
# Função para carregar e filtrar uma aba da planilha
def load_and_filter_sheet(file_path, sheet_name):
    # Carregar a aba específica
    df = pd.read_excel(file_path, sheet_name=sheet_name)
    
    # Filtrar classes com Support > 0
    df_filtered = df[df['Support'] > 0]
    
    # Converter colunas numéricas para float (se necessário)
    numeric_columns = ['Accuracy', 'Precision', 'Recall', 'F1-Score', 'Support']
    df_filtered[numeric_columns] = df_filtered[numeric_columns].astype(float)
    
    return df_filtered

In [10]:
# Função para comparar duas tabelas e formatar
def compare_and_format0(df_orig, df_comp, sheet_name, output_path):
    # Garantir que ambas as tabelas tenham as mesmas classes
    common_classes = df_orig["Classes"].isin(df_comp["Classes"])
    df_orig_filtered = df_orig[common_classes]
    df_comp_filtered = df_comp[df_comp["Classes"].isin(df_orig["Classes"])]

    if df_orig_filtered.empty or df_comp_filtered.empty:
        print(f"Nenhuma classe em comum encontrada para {sheet_name}.")
        return

    # Criar um DataFrame vazio para armazenar os resultados
    comparison_df = pd.DataFrame()
    comparison_df["Classes"] = df_orig_filtered["Classes"]

    # Definir as métricas a serem comparadas
    metrics = ['Accuracy', 'Precision', 'Recall', 'F1-Score']

    # Adicionar métricas da base original
    for metric in metrics:
        orig_metric = f"{metric}_Orig"
        comparison_df[orig_metric] = df_orig_filtered[metric].round(3)

    # Adicionar métricas da base consolidada
    for metric in metrics:
        comp_metric = f"{metric}_Comp"
        comparison_df[comp_metric] = df_comp_filtered[metric].round(3)

    # Reorganizar as colunas: Classes, métricas Originais, métricas Consolidadas
    columns_order = ["Classes"]
    for metric in metrics:
        columns_order.append(f"{metric}_Orig")
    for metric in metrics:
        columns_order.append(f"{metric}_Comp")

    comparison_df = comparison_df[columns_order]

    # Salvar o DataFrame no Excel
    with pd.ExcelWriter(output_path, engine="openpyxl", mode="a", if_sheet_exists="replace") as writer:
        comparison_df.to_excel(writer, sheet_name=sheet_name, index=False)

    # Aplicar formatação no Excel
    workbook = load_workbook(output_path)
    worksheet = workbook[sheet_name]

    # Definição de estilos
    equal_style = PatternFill(start_color="ADD8E6", end_color="ADD8E6", fill_type="solid")  # Azul claro
    worse_style = PatternFill(start_color="FF0000", end_color="FF0000", fill_type="solid")  # Vermelho
    better_style = Font(bold=True)  # Negrito

    for row in range(2, len(comparison_df) + 2):  # Começa na linha 2 para ignorar cabeçalhos
        for col_idx, metric in enumerate(metrics, start=1):
            orig_col = col_idx + 1  # Coluna do valor original (depois de "Classes")
            view_col = orig_col + len(metrics)  # Coluna do valor da vista
            
            orig_value = worksheet.cell(row=row, column=orig_col).value
            view_value = worksheet.cell(row=row, column=view_col).value

            if isinstance(orig_value, (int, float)) and isinstance(view_value, (int, float)):
                if view_value > orig_value:
                    worksheet.cell(row=row, column=view_col).font = better_style
                elif view_value < orig_value:
                    worksheet.cell(row=row, column=view_col).fill = worse_style
                else:
                    worksheet.cell(row=row, column=view_col).fill = equal_style

    workbook.save(output_path)
    workbook.close()
    print(f"Planilha {sheet_name} formatada com sucesso: {output_path}")

In [11]:
# Função para comparar duas tabelas e formatar
def compare_and_format(df_orig, df_comp, sheet_name, output_path):
    # Garantir que ambas as tabelas tenham as mesmas classes
    common_classes = df_orig["Classes"].isin(df_comp["Classes"])
    df_orig_filtered = df_orig[common_classes]
    df_comp_filtered = df_comp[df_comp["Classes"].isin(df_orig["Classes"])]

    if df_orig_filtered.empty or df_comp_filtered.empty:
        print(f"Nenhuma classe em comum encontrada para {sheet_name}.")
        return

    # Criar um DataFrame vazio para armazenar os resultados
    comparison_df = pd.DataFrame()
    comparison_df["Classes"] = df_orig_filtered["Classes"]

    # Definir as métricas renomeadas
    metric_mapping = {
        "Accuracy": "Acc",
        "Precision": "P",
        "Recall": "R",
        "F1-Score": "F1"
    }

    # Adicionar métricas da base original
    for metric, short_name in metric_mapping.items():
        orig_metric = f"{short_name}_Orig"
        comparison_df[orig_metric] = df_orig_filtered[metric].round(3)

    # Adicionar métricas da base consolidada
    for metric, short_name in metric_mapping.items():
        comp_metric = f"{short_name}_Comp"
        comparison_df[comp_metric] = df_comp_filtered[metric].round(3)

    # Reorganizar as colunas: Classes, métricas Originais, métricas Consolidadas
    columns_order = ["Classes"]
    for metric in metric_mapping.values():
        columns_order.append(f"{metric}_Orig")
    for metric in metric_mapping.values():
        columns_order.append(f"{metric}_Comp")

    comparison_df = comparison_df[columns_order]

    # Salvar o DataFrame no Excel
    with pd.ExcelWriter(output_path, engine="openpyxl", mode="a", if_sheet_exists="replace") as writer:
        comparison_df.to_excel(writer, sheet_name=sheet_name, index=False)

    # Aplicar formatação no Excel
    workbook = load_workbook(output_path)
    worksheet = workbook[sheet_name]

    # Definição de estilos
    equal_style = PatternFill(start_color="D3D3D3", end_color="D3D3D3", fill_type="solid")  # Cinza
    better_style = PatternFill(start_color="ADD8E6", end_color="ADD8E6", fill_type="solid")  # Azul claro
    worse_style = PatternFill(start_color="FF0000", end_color="FF0000", fill_type="solid")  # Vermelho

    for row in range(2, len(comparison_df) + 2):  # Começa na linha 2 para ignorar cabeçalhos
        for col_idx, metric in enumerate(metric_mapping.values(), start=1):
            orig_col = col_idx + 1  # Coluna do valor original (depois de "Classes")
            view_col = orig_col + len(metric_mapping)  # Coluna do valor da vista
            
            orig_value = worksheet.cell(row=row, column=orig_col).value
            view_value = worksheet.cell(row=row, column=view_col).value

            if isinstance(orig_value, (int, float)) and isinstance(view_value, (int, float)):
                if view_value > orig_value:
                    worksheet.cell(row=row, column=view_col).fill = better_style
                elif view_value < orig_value:
                    worksheet.cell(row=row, column=view_col).fill = worse_style
                else:
                    worksheet.cell(row=row, column=view_col).fill = equal_style

    workbook.save(output_path)
    workbook.close()
    print(f"Planilha {sheet_name} formatada com sucesso: {output_path}")

# legenda

In [12]:
# Função para criar a aba de legenda
def create_legend(output_path):
    # Criar um DataFrame para a legenda
    legend_data = {
        "Significado": ["Igual", "Superior", "Inferior"],
        "Cor": ["Cinza", "Azul Claro", "Vermelho"]
    }
    legend_df = pd.DataFrame(legend_data)

    # Salvar a legenda no Excel
    with pd.ExcelWriter(output_path, engine="openpyxl", mode="a", if_sheet_exists="replace") as writer:
        legend_df.to_excel(writer, sheet_name="Legenda", index=False)

    # Aplicar formatação na aba de legenda
    workbook = load_workbook(output_path)
    worksheet = workbook["Legenda"]

    # Definição de estilos
    equal_style = PatternFill(start_color="D3D3D3", end_color="D3D3D3", fill_type="solid")  # Cinza
    better_style = PatternFill(start_color="ADD8E6", end_color="ADD8E6", fill_type="solid")  # Azul claro
    worse_style = PatternFill(start_color="FF0000", end_color="FF0000", fill_type="solid")  # Vermelho

    # Preencher as células com as cores correspondentes
    worksheet.cell(row=2, column=2).fill = equal_style  # Cinza
    worksheet.cell(row=3, column=2).fill = better_style  # Azul claro
    worksheet.cell(row=4, column=2).fill = worse_style  # Vermelho

    workbook.save(output_path)
    workbook.close()
    print("Legenda criada com sucesso.")

In [13]:
# Criar a aba de legenda
create_legend(excel_path)

Legenda criada com sucesso.

In [14]:
# Carregar as abas da planilha
original_df = load_and_filter_sheet(excel_path, "Original")
equatorial_df = load_and_filter_sheet(excel_path, "Equatorial")
polar_df = load_and_filter_sheet(excel_path, "Polar")

/tmp/ipykernel_114706/3610343898.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[numeric_columns] = df_filtered[numeric_columns].astype(float)
/tmp/ipykernel_114706/3610343898.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[numeric_columns] = df_filtered[numeric_columns].astype(float)

In [15]:
original_df

    Unnamed: 0     Classes  Accuracy  Precision  Recall  F1-Score  Support
0            0  asphodelus     0.971      1.000   0.971     0.985     34.0
1            1  calicotome     0.977      0.990   0.977     0.983    298.0
2            2    castanea     0.995      0.986   0.995     0.990    218.0
3            3   ceratonia     0.950      0.913   0.950     0.931    100.0
4            4      ebenus     0.955      1.000   0.955     0.977     22.0
5            5       erica     1.000      0.984   1.000     0.992    181.0
6            6  eucalyptus     0.979      0.988   0.979     0.983    340.0
7            7      ferula     1.000      0.976   1.000     0.988     83.0
8            8      myrtus     1.000      0.996   1.000     0.998    786.0
9            9        olea     0.995      0.991   0.995     0.993    790.0
10          10    origanum     0.965      0.988   0.965     0.976    171.0
11          11      oxalis     1.000      1.000   1.000     1.000    139.0
12          12       pinus     1.000      1.000   1.000     1.000     29.0
13          13    pistacia     1.000      1.000   1.000     1.000     34.0
14          14      salvia     0.989      1.000   0.989     0.994    178.0
15          15    satureja     0.958      0.971   0.958     0.964     71.0
16          16     sinapis     0.970      0.979   0.970     0.974    197.0
17          17     thymbra     0.993      0.993   0.993     0.993    146.0
18          18     urginea     1.000      1.000   1.000     1.000    109.0
19          19       vitis     0.985      0.981   0.985     0.983    269.0

In [16]:
equatorial_df

    Unnamed: 0     Classes  Accuracy  Precision  Recall  F1-Score  Support
0            0  asphodelus     1.000      1.000   1.000     1.000      5.0
1            1  calicotome     0.545      1.000   0.545     0.706     11.0
2            2    castanea     0.995      0.986   0.995     0.990    218.0
3            3   ceratonia     0.958      0.920   0.958     0.939     96.0
4            4      ebenus     0.955      1.000   0.955     0.977     22.0
5            5       erica     1.000      1.000   1.000     1.000      2.0
6            6  eucalyptus     1.000      0.818   1.000     0.900      9.0
7            7      ferula     1.000      0.971   1.000     0.985     67.0
8            8      myrtus     1.000      0.667   1.000     0.800      2.0
9            9        olea     0.996      0.991   0.996     0.993    767.0
10          10    origanum     0.944      0.990   0.944     0.966    108.0
11          11      oxalis     1.000      1.000   1.000     1.000     14.0
13          13    pistacia     1.000      1.000   1.000     1.000     33.0
14          14      salvia     0.981      1.000   0.981     0.990    104.0
15          15    satureja     0.950      0.974   0.950     0.962     40.0
16          16     sinapis     0.969      0.979   0.969     0.974    196.0
17          17     thymbra     1.000      0.984   1.000     0.992     62.0
18          18     urginea     1.000      1.000   1.000     1.000    109.0
19          19       vitis     0.984      0.984   0.984     0.984    248.0

In [17]:
compare_and_format(original_df, equatorial_df, "Original vs Equatorial", excel_path)

Planilha Original vs Equatorial formatada com sucesso: /media/jczars/4C22F02A22F01B22/Pollen-Classification-CBAM/discussion/Comparison_Metrics_A200.xlsx

In [18]:
compare_and_format(original_df, polar_df, "Original vs Polar", excel_path)

Planilha Original vs Polar formatada com sucesso: /media/jczars/4C22F02A22F01B22/Pollen-Classification-CBAM/discussion/Comparison_Metrics_A200.xlsx